<ion-card color="dark">

    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-primary">{{ indice + 1 }} - </span>
            <span class="article-source-name">{{ article.source.name }}</span>
        </ion-card-subtitle>
        <ion-card-title (click)="openActicle()">{{ article.title }}</ion-card-title>
    </ion-card-header>

    <ion-img *ngIf="article.urlToImage" (click)="openActicle()" [src]="article.urlToImage"></ion-img>

    <ion-card-content>
        {{ article.description }}
    </ion-card-content>

</ion-card>