<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-title>
            Headers
        </ion-title>
    </ion-toolbar>

    <ion-segment scrollable mode="md" color="primary" (ionChange)="changeCategory($event)">
        <ion-segment-button mode="md" *ngFor="let category of categories" [value]="category">
            <ion-label>{{ category }}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

    <app-articles [articles]="articles"></app-articles>

    <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content color="primary" loadingSpinner="crescent" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>